name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install
        run: |
          python -m pip install -U pip
          python -m pip install -e ".[dev]"
      - name: Run pre-commit
        run: |
          python -m pre_commit run --all-files

  pytest:
    name: tests (pytest)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install
        run: |
          python -m pip install -U pip
          python -m pip install -e ".[dev]"
      - name: Run tests
        run: |
          python -m pytest
